/*Remodal*/
.remodal {
	
	&.compare-remodal {
		padding: 0;
		width: auto;
		
		@media all and (max-width: 1599px) {
			position: fixed;
	        padding: 0;
	        top: 0;
	        left: 0;
	        right: 0;
	        bottom: 0;
	        margin: 0;
	        overflow: hidden;
	        overflow-y: auto;
	        border-radius: 0;
		}
		
		@media all and (min-width: 640px) {
			max-width: 100%;
		}
		
		.remodal-close-btn {
			svg {
		    	width: 20px;
		    	height: 20px;
		    	display: none;
		    	
		    	@media all and (max-width: 767px) {
		    		display: block;
		    	}
		    	
		    	&.gr_big_icon {
		    		width: 30px;
		    		height: 30px;
		    		display: block;
		    		
		    		@media all and (max-width: 767px) {
			    		display: none;
			    	}
		    	}
		    	
		    	&.gr_small_icon {
		    		display: none;
		    	}
		    }
		}
	}
}

.compare-remodal {
	
	&__body {
		overflow-x: auto;
		padding: 55px 35px;
		
		@media all and (max-width: 767px) {
			padding: 50px 20px 20px;
		}
	}
}
/*Remodal*/


.shop2-compare-page {
	color: var(--on_gr_bg_sec_text);
	font-family: var(--font1);
	height: auto;
	background: var(--gr_bg);
	border-radius: var(--gr_wrap_radius);
	
	h1 {
	    margin: 0;
	    
	    @extend .remodal-block-title;
	}
}


/*Картинка*/
.shop2-compare-product-image {
	position: relative;
	padding-top: 100%;
    height: auto;
    width: auto;
    font-size: 0;
    margin: 0 0 18px;
	border-radius: var(--gr_inner_radius);

	&.shop2-compare-product-not-image {
		background: var(--noImageDefault);
	    background-size: 50%;
	}

	a {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 0;
		overflow: hidden;
		border-radius: var(--gr_inner_radius);
		text-decoration: none;
		display: flex;
		
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			pointer-events: none;
			background: var(--gr_product_img_overlay);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&:hover {
		.quick-view-trigger {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, -50%) scale(1, 1);
		}
	}
}
/*Картинка*/


/*Название*/
.shop2-compare-product-name {
	font-size: 15px;
	line-height: 1.3;
	margin-bottom: 0.6em;
	font-family: $product_name_f;
	font-weight: $product_name_f_w;

	@media all and (max-width: 767px) {
		font-size: 14px;
	}

	a {
		color: $product_name_a_c;
		text-decoration: none;
		transition: $transition;
		border-bottom: 1px solid $product_name_a_b;

		&:hover {
			border-bottom-color: $product_name_a_b_h;
		}
	}
}
/*Название*/


/*Поле цвет*/
.shop2-compare-data {
	.shop2-product-options .shop2-color-ext-list {
		padding-top: 5px;
	}
}
.shop2-compare-color {
	position: relative;
	cursor: pointer;
	width: $optionsColorWidth !important;
	height: $optionsColorHeight;
	border: none;
	float: none;
	outline: none !important;
	display: inline-block;
	vertical-align: top;
	margin: $optionsColorMargin;
	margin-top: 5px;
	border-radius: $optionsColorRadius;

	&:first-child {
		margin-left: 0 !important;

		&.active {
			margin-left: 7px !important;
		}
	}

	&.active {
		outline: none !important;

		&:after {
			opacity: 1;
			visibility: visible;
			border: $afterOptionsColorBorderSelected;
			box-shadow: $afterOptionsColorShadowSelected;
			background: $afterOptionsColorBgSelected;
		}

		&:before {
			border: $beforeOptionsColorBorderSelected;
			box-shadow: $beforeOptionsColorShadowSelected;
			background: $beforeOptionsColorBgSelected;
		}
	}

	&.shop2-color-ext-selected {
		outline: none !important;

		span {
			display: none;
		}
	}

	&:before {
		position: absolute;
		content: '';
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: $transition;
		border-radius: $optionsColorRadius;
		border: $beforeOptionsColorBorder;
		box-shadow: $beforeOptionsColorShadow;
		background: $beforeOptionsColorBg;
	}

	&:after {
		position: absolute;
		content: '';
		left: -7px;
		right: -7px;
		top: -7px;
		bottom: -7px;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		border-radius: var(--gr_btn_radius);
		transition: $transition;
		border: $afterOptionsColorBorder;
		box-shadow: $afterOptionsColorShadow;
		background: $afterOptionsColorBg;
	}

	span, img {
		width: $optionsColorWidth;
		height: $optionsColorHeight;
		border-radius: $optionsColorRadius;
	}
}
/*Поле цвет*/

/*Удалить*/
a.shop2-compare-delete {
	margin: 14px 0 10px;
	border: none;
	font-size: 14px;
	line-height: 1.1;
	color: var(--on_gr_bg_sec_text);
	@extend .gr-btn-icon-right;
	
	span {
		padding-right: 16px;
		
		svg {
			right: -10px;
			fill: var(--on_gr_bg_sec_text);
		}
	}
	
	ins {
		vertical-align: top;
		display: inline-block;
		transition: $transition;
		border-bottom: 1px solid transparent;
		width: auto;
		height: auto;
		position: static;
		background: none;
		margin: 0;
	}
	
	&:hover {
		color: var(--on_gr_bg_acc_text);
		
		span {
			svg {
				fill: var(--on_gr_bg_acc_text);
			}
		}
		
		ins {
			border-bottom-color: var(--on_gr_bg_acc_text_5);
		}
	}
}
/*Удалить*/

/*Табы*/
.shop2-compare-switch {
	font-size: 0;
	
	a {
		margin: 15px 6px 10px 0;
		@extend .gr-btn-3;
		@extend .gr-small-btn-desktop;
		
		&.shop2-compare-switch-active {
			color: $btn3ColorHover;
			border: $btn3BorderHover;
			box-shadow: $btn3ShadowHover;
			background: $btn3BackgroundHover;
			/*@extend .gr-btn-1;
			@extend .gr-small-btn-desktop;*/
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
}
/*Табы*/


/*Ячейки*/
.shop2-compare-table td {
	border-bottom-color: var(--on_gr_bg_border_4);
	width: 220px;
	min-width: 220px;
	padding-right: 25px;
}
.shop2-compare-data {
	color: var(--on_gr_bg_acc_text);
	
	td:first-child {
		font-weight: 500;
		width: 342px;
	    min-width: 342px;
	    padding-left: 0;

		color: $prodOptionsTitleColor;
		font: $prodOptionsTitleFont;
		
		@media all and (max-width: 479px) {
			width: 260px;
			min-width: 260px;
		}
	}
	
	td:nth-child(n+2) {
		color: $prodOptionsBodyColor;
		font: $prodOptionsBodyFont;
	}
	
	a {
		color: var(--on_gr_bg_link);
		text-decoration: none;
		transition: all .2s;
		border-bottom: 1px solid transparent;
		
		&.compare-img-link {
			border: none;
		}
		
		&:hover {
			text-decoration: none;
			border-bottom-color: var(--on_gr_bg_link_5);
		}
	}
}
.shop2-compare-header2 {
	td {
		border-bottom-width: 0;
		vertical-align: middle;
		
		&:first-child {
			width: 360px;
			min-width: 360px;
			
			@media all and (max-width: 479px) {
				width: 260px;
				min-width: 260px;
			}
		}
	}
}
.shop2-compare-switch a {
	padding-left: 15px;
	padding-right: 15px;
	
	@media all and (max-width: 479px) {
		margin: 0 6px 0 0;
		
		&:nth-child(2) {
			margin-top: 10px;
		}
	}
}
/*Ячейки*/

/*Цена*/
.shop2-compare-product-price {
	font-size: 0;
	color: $product_cur_price_c;
	font-family: $product_cur_price_f;
	font-weight: $product_cur_price_f_w;

	&.price_on_request {
	    transform: translateY(2px);
	    
		strong {
			font-size: 15px;
			line-height: 1.3;
			font-weight: $product_cur_price_f_w;

			@media all and (max-width: 767px) {
				font-size: 14px;
			}
		}
	}

	strong {
		font-size: 20px;
		line-height: 1;
		font-weight: $product_cur_price_f_w;

		@media all and (max-width: 767px) {
			font-size: 18px;
			line-height: 1;
		}
	}

	span {
		font-size: 14px;
		line-height: 1;
		padding-left: 5px;

		@media all and (max-width: 767px) {
			font-size: 13px;
			padding-left: 4px;
		}
	}
}
/*Цена*/