// Path
//----------------------------------------------------------------------------//
$font_path: '/g/fonts/';				// Путь к глобальным шрифтам

// Font's
//----------------------------------------------------------------------------//

@import "global:/s3/makeup/sass/defaults/font-family.scss";

// Site Font-style's
//----------------------------------------------------------------------------//

$siteFontFamily: var(--font1);			// Основное семейство
$siteFontSize: 16px;					// Основной размер